#!/usr/bin/make -f

DEB_AUTO_UPDATE_DEBIAN_CONTROL := yes

include /usr/share/cdbs/1/rules/debhelper.mk

common-install-arch common-install-indep:: common-install-impl
common-install-impl::
	#python /usr/lib/python2.3/py_compile.py $(CURDIR)/debian/$(DEB_SOURCE_PACKAGE)/usr/sbin/kanotix-smbconfig.py
	dh_link /usr/sbin/kanotix-smbconfig.py /usr/sbin/kanotix-smbconfig
	
	install -m 0755 -d $(CURDIR)/debian/$(DEB_SOURCE_PACKAGE)/usr/share/locale/de/LC_MESSAGES
	msgfmt $(CURDIR)/po/de.po -o $(CURDIR)/debian/$(DEB_SOURCE_PACKAGE)/usr/share/locale/de/LC_MESSAGES/kanotix-smbconfig.mo
